[mysqld]
user=mysql
bind-address=0.0.0.0
port={{ db_port }}
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

# Performance and tuning
max_connections=200
innodb_buffer_pool_size=1G
innodb_log_file_size=256M

[client]
port={{ db_port }}
socket=/var/lib/mysql/mysql.sock
